<h3> People </h3>

  <% if @people.any? %>
      <% @people.each do |person| %>
        <div>
          <%= person.name %>
          <%= person.age %>
          <%= person.race %>
          <%= person.hair_color %>
          <%= link_to 'Show page', person_path(person) %>
        </div>
      <% end %>

    <% else %>
      <h3> No people found. Make an entry </h3>
    <% end %>

    <hr />
    <%= link_to 'New person', new_person_path %>
