<h3> People </h3>
  <% @people.each do |person| %>
    <h4> <%= person.name %> </h4>
    <h4> <%= person.age %> </h4>
    <h4> <%= person.race %> </h4>
    <h4> <%= person.hair_color %> </h4>
    <%= link_to 'Show page', person_path(person) %>
  <% end %>
